/* Custom Font Definition */
@font-face {
  font-family: 'overpass';
  src: url(../src/fonts/overpass-heavy.otf);
}

@font-face {
  font-family: 'paintball';
  src: url(../src/fonts/Paintball.ttf);
}

/* Small screen display */
@media only screen and (min-width: 200px) and (max-width: 640px) {
  .mainBackground {
    background-image: url("./images/paintBackground.png");
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
  }

  .formSettings {
    margin-top: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    background-color: white;
  }

  .loginFormSettings {
    margin-top: 7vh;
    margin-left: 3vh;
    margin-right: 3vh;
    background-color: white;
  }
}

/* Small to Medium display (Change the width of the form) */
@media only screen and (min-width: 641px) and (max-width: 920px) {
  .mainBackground {
    background-image: url("./images/paintBackground.png");
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
  }

  .formSettings {
    margin-top: 3vh;
    margin-left: 25vh;
    margin-right: 25vh;
    background-color: white;
  }

  .loginFormSettings {
    margin-top: 10vh;
    margin-left: 25vh;
    margin-right: 25vh;
    background-color: white;
  }
}

/* Medium to Large display */
@media only screen and (min-width: 921px) and (max-width: 1440px) {
  .mainBackground {
    background-image: url("./images/bodyBackground.png");
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
  }

  .formSettings {
    margin-top: 3vh;
    margin-left: 45vh;
    margin-right: 45vh;
    background-color: white;
  }

  .loginFormSettings {
    margin-top: 10vh;
    margin-left: 40vh;
    margin-right: 40vh;
    background-color: white;
  }
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridSelector {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  margin-bottom: 0rem;
  background-image: url("../src/images/headerBackground.png");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.imgContainer {
  width: 45px;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
}

.displayIcon {
  max-width: 100%;
  height: auto;
}

.divBorder {
  border: 1px solid gainsboro;
  border-radius: 10px;
  margin-bottom: 10%;
}

.mainBackground {
  top: 0px;
  left: 0px;
  position: absolute;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.siteTitle {
  font-family: 'paintball';
  font-size: 3em;
  display: block;
  margin-top: 0%;
  margin-bottom: 1%;
  text-align: center;
  background: linear-gradient(to bottom, #ff43b7, #7aff42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}